>
             5
             <span class="mw-default-size inline-icon" typeof="mw:File">
<span>
<img alt="★" class="mw-file-element lazyload" data-image-key="Icon_Rarity_5.png" data-image-name="Icon Rarity 5.png" data-relevant="0" data-src="https://static.wikia.nocookie.net/feheroes_gamepedia_en/images/4/4e/Icon_Rarity_5.png/revision/latest/scale-to-width-down/26?cb=20180513213447" decoding="async" height="26" loading="lazy" src="data:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D" width="26"/>
</span>
</span>
<br/>
<a href="/wiki/Category:Special_Heroes" title="Category:Special Heroes">
              Special
             </a>
<br/>
<a href="/wiki/Category:Duo_Heroes" title="Category:Duo Heroes">
              Duo
             </a>
</td>
